html, body {
	height: 100%;
}

body {
	font-family: "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased
}

.container-fluid, .row {
   height: 100%;
}


hr {
	border-color: #CCC;
}

@media (min-width: 992px) {
}


/* Sidebar */

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #275379 ; /* #275379 428bca */
    border-right: 1px solid #eee;
    box-shadow: inset 0 -2px 15px rgba(0,0,0,.2);

  }
  
  .form-control {
	width:50%;
  }

}

.sidebar {
    background-color: #275379 ; /* #275379 428bca */
	padding: 40px;
	box-shadow: inset 0 -2px 15px rgba(0,0,0,.2);
}


/* Sidebar navigation */
.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
}


.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #CCC;
}

.nav-sidebar li {
}

.nav-sidebar > li > a:hover {
	background-color: #346fa1;
}

.main {
  padding: 40px;

}
@media (min-width: 768px) {
  .main {
    padding: 40px;
  }
}



.col-md-3 a {
	color: #FFF;
}

.col-md-3 a:hover {
	color: #FFF;
}

.col-md-9 {
}

.col-md-3 h3 {
	color: #FFF;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.avatar-frame,.avatar-frame img{
	margin: 0 auto;
	width: 130px;
	height: 130px;
	-webkit-border-radius: 130px; /* Saf3+, Chrome */
	border-radius: 130px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
}
	
	
	
	