---
layout: default
---

{% for post in paginator.posts %}

<div class="row-fluid">
  <div class="">
    <h2>{{ post.title }}</h2>
    <p class="muted">{{ post.date | date: "%B %-d, %Y" }}</p>
	<p>{{ post.excerpt }}</p>

    <p>
      <a href="{{ post.url }}">Read Post</a>
    </p>
  </div>
</div>

{% endfor %}

<div class="row-fluid">
  <div class="">
    <div class="pagination">
      
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
         <a href="/blog">Prev</a>
          {% else %}
          <a href="/blog/page{{ paginator.previous_page }}">Prev</a>
          {% endif %}
        {% else %}
      	  <span class="disabled">Prev</span>
        {% endif %}
        {% if paginator.page == 1 %}
        <span class="active">1</span>
        {% else %}
        <a href="/blog">1</a>
        {% endif %}
        {% for count in (2..paginator.total_pages) %}
          {% if count == paginator.page %}
          <span class="active">{{ count }}</span>
          {% else %}
          <a href="/blog/page{{ count }}">{{ count }}</a>
          {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
        <a href="/blog/page{{ paginator.next_page }}">Next</a>
        {% else %}
        <span class="disabled">Next</span>
        {% endif %}
      
    </div>
  </div>
</div>